{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}


{% block title %}
Edit Post
{% endblock title %}


{% block body_block %}
<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{form|crispy}}
    <input type="submit" value="Update" class="btn btn-success btn-m">
    <a href="{% url 'post_app:delete_post' id=post_id%}" class="btn btn-danger btn-m" onclick="return confirm('Are You Sure ?')">Delete Post</a>
</form>

{% endblock body_block %}